@import url("https://use.typekit.net/owc7ebv.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-white: #F4EEE8;
    --color-black: #010000;
    --color-dark-gray: #333333;
    --color-gradient-left:  #F6C6A6;
    --color-gradient-right:  #F3B4BF;
    --font-heavy: "Arial Black", Helvetica, sans-serif;
    --font-light: "mrs-eaves", serif;
}

/*header*/

header{
    background: linear-gradient(145deg, var(--color-gradient-left), var(--color-gradient-right));
    font-family: var(--font-heavy);
    height: 18em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header__content{
    display: flex;
    gap: 4em;
    justify-content: center;
}

header h3{
    font-size: 1rem;
    margin-bottom: 2em;
}

header img{
    height: 20px;
    width: 20px;
}

/* new entry side bar */

.sidebar{
    background-color: var(--color-black);
    color: var(--color-white);
    width: 33%;
    padding-left: 2em;
}

.sidebar h1{
    font-family: var(--font-heavy);
    font-size: 5rem;
    line-height: 1em;
    margin-bottom: .5em;
    padding-top: .5em;
}

.sidebar p{
    font-family: var(--font-light);
    font-size: .6rem;
    line-height: 1.8em;
    text-align: center;
    margin-bottom: 2.5em;
    margin-right: 2.5em;
}

input[type=text]{
    background-color: var(--color-dark-gray);
    padding: 1.5em;
    width: 25rem;
    font-family: var(--font-light);
    border: none;
    text-align: center;
}

label {
    font-family: var(--font-heavy);
    text-align: center;
    margin-bottom: .5em;
    display: block;
}

.sidebar__new-entry--rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1em;
}

.sidebar__new-entry--rating img{
    height: 40px;
    width: 40px;
}

input[type=submit]{
    background-color: var(--color-black);
    border-radius: 25px;
    border: var(--color-white) 2px;
    color: var(--color-white);
    font-family: var(--font-light);
    height: 6em;
    width: 25em;
    font-size: .7rem;
}


/* "library" section */

.library{
    background-color: var(--color-white);
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* book cards */

.library__cards{
    display: flex;
    flex-direction: column;
    font-family: var(--font-heavy);
    border: var(--color-black) 2px;
    border-style: solid;
    border-radius: 30px;
    height: 31rem;
    width: 22rem;
    padding: 1em;
}

.library__cards > * {
    margin: .3em;
}

.library__cards h2{
    font-size: 1.3rem;
    text-align: center;
}

.library__cards h3{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2em;
}

.library__cards p{
    font-size: .8rem;
    margin: 1em;
}

.library__cards--rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 1em;
}

.library__cards--rating img{
    height: 40px;
    width: 40px;
}

.cards__edit{
    background-color: var(--color-black);
    border-radius: 25px;
    color: var(--color-white);
    font-family: var(--font-light);
    height: 6em;
    border: none;
    font-size: .7rem;
}

.cards__delete{
    background-color: var(--color-white);
    border-radius: 25px;
    color: var(--color-black);
    font-family: var(--font-light);
    height: 4em;
    border: none;
    font-size: .7rem;
}