@import url('https://use.typekit.net/owc7ebv.css');

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-white: #f4eee8;
  --color-black: #010000;
  --color-dark-gray: #333333;
  --color-gradient-left: #f6c6a6;
  --color-gradient-right: #f3b4bf;
  --font-heavy: 'Arial Black', Helvetica, sans-serif;
  --font-light: 'mrs-eaves', serif;
}

body {
  margin: 0px;
  padding: 0px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 30vh 100%;
  grid-template-areas:
    'form counters'
    'form library';
}

/* FORM SECTION */

.form-section {
  grid-area: form;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 20px;
  /* overflow: auto; */
  max-height: fit-content;
}

.form-section h1 {
  font-family: var(--font-heavy);
  font-size: clamp(2rem, 3.5vw, 4rem);
  line-height: 1em;
  margin: 5px;
}

.form-section p {
  font-family: var(--font-light);
  font-size: clamp(0.7rem, 1.1vw, 1rem);
  line-height: 1.5em;
  text-align: center;
  margin: 2em 1em;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-family: var(--font-heavy);
  font-size: clamp(0.9rem, 1.3vw, 1rem);
  margin-bottom: 5px;
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'],
input[type='checkbox'],
#language {
  background-color: var(--color-dark-gray);
  margin-bottom: 15px;
  border: none;
  padding: 0.7em;
  font-family: var(--font-light);
  text-align: center;
  font-size: clamp(1rem, 1.1vw, 1.2rem);
  color: var(--color-white);
}

input[type='checkbox'] {
  margin-top: -1px;
  margin-left: 15px;
}

.checkbox {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.add-book-btn {
  background-color: var(--color-black);
  border-radius: 20px;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  font-family: var(--font-light);
  height: 3em;
  padding: 0 15px;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
}

.add-book-btn:hover {
  background-color: var(--color-gradient-left);
  color: var(--color-black);
}

/*  COUNTER SECTION */

.counters-section{
  grid-area: counters;
  background: linear-gradient(
    145deg,
    var(--color-gradient-left),
    var(--color-gradient-right)
  );
  font-family: var(--font-heavy);
}

.counters-section > div{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.counters-section h2 {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
  margin-bottom: 1em;
  text-align: center;
}
.counters-section h3 {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  margin-bottom: 1em;
}

.counters-section img {
  height: 20px;
  width: 20px;
}

.form-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.show-btns{
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-light);
  cursor: pointer;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  padding: 10px;
  font-size: clamp(0.9rem, 1vw, 1rem);
}


.show-btns:hover {
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
}

/* LIBRARY SECTION */

.library-section {
  grid-area: library;
  background-color: var(--color-white);
  
}

.library-section h2{
  text-align: center;
}

#book-cards.visible{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  overflow: auto;
}

#book-cards {
  display: none;
}

/* book cards */

.book-card {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heavy);
  border: 2px solid var(--color-black);
  border-radius: 30px;
  /* height: 20rem; */
  padding: 1em;
  text-align: center;
}

.book-card > * {
  margin: 0.3em;
}

.book-card h2 {
  font-size: clamp(1rem, 1.2vw, 1.6rem);
}

.book-card h3 {
  font-size: clamp(0.8rem, 1.2vw, 1.3rem);
  margin-bottom: 1em;
}

.book-card p {
  font-size: clamp(0.7rem, 1vw, 1rem);
  margin: 1em;
}

.book-read-btn {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-light);
  cursor: pointer;
  border: 2px solid var(--color-black);
  border-radius: 20px;
  padding: 10px 0;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

.book-read-btn:hover {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 2px solid var(--color-black);
}

.book-remove-btn {
  background-color: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-light);
  cursor: pointer;
  border: 2px solid var(--color-black);
  border-radius: 20px;
  padding: 10px 0;
  font-size: clamp(0.9rem, 1vw, 1rem);
}

.book-remove-btn:hover {
    background-color: var(--color-black);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}




/* RESPONSIVENESS*/

@media (max-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      'form'
      'counters'
      'library';
  }

  .form-section h1 {
    text-align: center;
  }
}

@media (max-width: 900px) {

  .counters-section > div{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    gap: 0;
  }

  .counters-section h3 {
    padding: 10px 0;
    margin: 0;
    align-self: center;
  }

  .counters-section p:last-of-type {
    border-right: none;
  }

  .counters-section img {
    display: none;
  }

}
